body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif; 
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color:  #000000;
    background-image: url(../img/index/Layer.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;

    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button.disabled, 
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}

.form-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-navigation {
    /* временно для сетки */
    min-height: 285px;


    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation, 
.user-navigation {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list {
    list-style: none;
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.index-columns {
    color: #000000;

    background-color: #f8f5f2;
    background-image:
    url(../img/index/center-line1.png),
     url(../img/index/background_columns.jpg);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
} 

.index-columns h2 {
    font-size: 30px;
    line-height: 42px;
}

.new-list {
    list-style: none;
}
.new-item time {
    text-transform: none;
}

.gallery-content{
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appointment-item input{
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.main-footer {
    color: #ffffff;

    background-color: 212121;
    background-image: url(../img/index/footer.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.footer-contacts a {
color: #ffffff;
text-decoration: underline;
}

.footer-contacts a:hover, 
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

.site-navigation {
    color: #ffffff;
}

.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.main-header {
    margin-bottom: 75px;

    /* Временный отступ */
    min-height: 285px;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* временно для сетки */
    min-height: 285px;
}


.site-navigation {
    width: 620px;
    margin: 0;
    padding: 10px;

    /* Временно для сетки */
    min-height: 70px;
}

.user-navigation {
    width: 140px;
    margin: 0;
    padding: 0;

    list-style: none;

    /* Временно для сетки */
    min-height: 70px;
}

.main-navigation .main-header-logo {
    align-items: center;
    order: 2;
    width: 368px;
    height: 153px;
    /* Временно для сетки */
    display: block;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    /* Временно для сетки */
    min-height: 70px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.features-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;

    /* Временно для сетки */
    min-height: 170px;
}

.features-item {
    width: 300px;

    /* Временно для сетки */
    min-height: 170px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
    margin-bottom: 35px;
    /* Временно для сетки */
    /* background-image: none;
    background-color: transparent; */
}

.news {
    width: 380px;
    /* Временно для сетки */
    min-height: 315px;
}

.gallery {
    width: 300px;
    /* Временно для сетки */
    min-height: 315px;
}

.features {
    margin-bottom: 80px;
}

.contacts {
    width: 380px;
}

.appointment {
    width: 300px;
}

.main-footer {
    padding: 60px 0;
    margin-top: 65px;

    /* Временно для сетки */
    min-height: 180px;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin: 0;
    margin-right: 80px;

    /* Временно для сетки */
    min-height: 100px;
}

.footer-social {
    width: 145px;

    /* Временно для сетки */
    min-height: 100px;
}

.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;

    /* Временно для сетки */
    min-height: 100px;
}

.site-navigation {
    width: 620px;

    display: flex;
    flex-wrap: wrap;
}

.site-navigation a, 
.user-navigation a {
    display: block;
    color: #ffffff;

    padding: 25px 20px;

    vertical-align: middle;
}

.user-navigation .login-link {
    padding-left: 50px;
    position: relative;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 28px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url(../img/index/exit-logo.png);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.7;

    /* background-color: #ff0000; */
}
   
.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}

.features-item h3{
    position: relative;
    margin: 0;
    margin-bottom: 60px;
}

.features-item h3::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #ffffff;

    transform: rotate(45deg);
}

.features-item p {
    margin: 0 10px;
}

.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.new-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}

.new-item {
    margin-bottom: 25px;
}

.new-item p {
    margin: 0;
}

.new-item time {
    transform: none;
}

.gallery-container {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;

    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.gallery-content img {
    width: 286px;
    height: 164px;
}

/* margin-right: 16px; */

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

.appointment-info {
    
}

.appointment-form li {
    display: flex;
    flex-wrap: wrap;
}

 